button{
    background-color: red;
    color: blue;
    border: none;

    cursor: pointer;
}

.uber-button{
    background-color: black;
    color: white;

    height: 32px;
    width: 108px
}

.amazon-button{
    background-color: rgb(255,216,20);
    color: black;

    width: 100px;
    height: 28px;

    border-radius: 14px;
}
.amazon-buy-button{
    background-color: rgb(255,164,28);
    color: black;

    width: 100px;
    height: 28px;

    border-radius: 14px;
    margin-left: 8px;
}

.github-button{
    background-color: rgb(46, 164, 79);
    color: rgb(255, 255, 255);
    font-weight: bold;

    width: 74px;
    height: 28px;

    border-radius: 5px;
}

.bootstrap-get-started-button{
    background-color: rgb(121, 82, 179);
    color: rgb(255,255,255);
    font-weight: bold;
    font-size: 12px;

    height: 32px;
    width: 95px;

    border-radius: 4px;
}

.bootstrap-download-button{
    background-color: rgb(255,255,255);
    color: rgb(108, 117, 125);
    font-weight: bold;
    font-size: 12px;

    height: 32px;
    width: 95px;
    
    border: 1px solid rgb(108, 117, 125);
    border-radius: 4px;

    margin-left: 4px;
}

.linkedin-apply-button{
    background-color: rgb(10, 102, 194);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 10px;

    height: 24px;
    width: 160px;

    border-radius: 12px;
}

.linkedin-save-button{
    background-color: white;
    color: rgb(10, 102, 194);
    font-weight: bold;
    font-size: 10px;

    height: 24px;
    width: 48px;

    border: 1px solid rgb(10, 102, 194);
    border-radius: 12px;
    
    margin-left: 4px;
}

.bolded{
    font-weight: bold;
    font-size: 24px;

    margin-top: 8px;
    margin-bottom: 8px;
}

.green-bolded{
    font-weight: bold;
    color: rgb(0, 136, 0);
}

.amazon-link{
    color: rgb(0, 113, 133);
}